// ion-content {
//     --background: rgb(176, 232, 249);
// }
// ion-toolbar {
//     --background: #002b6b;
// }
// .center-card {
//     border-radius: 5px;
//     background: #002b6b;
//     width: 225px;
//     height: 150px;
// }
ion-item {
    --background: #002b6b;
    color: white;
}

.center-card {
    border-radius: 20px 50px;
    background: #002b6b;
    padding: 20px;
    width: 225px;
    height: 150px;
}