.center-card {
    margin: 10px auto;
    width: 80%;
    border-radius: 12px;
    --background: #002b6b;
    ion-card-title,
    ion-item {
        --background: transparent;
        --color: #fff;
    }
}

.btn-unique {
    width: 80%;
    margin: 0 auto;
    color: white;
    --background: #002b6b;
}