<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add Payment</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="logout()">
                <ion-icon name="log-out" fill="clear"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="center-card">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Order</ion-label>
                    <ion-select value="order" okText="Okay" cancelText="Cancle">
                        <ion-select-option value="order">102</ion-select-option>
                        <ion-select-option value="order">200</ion-select-option>
                        <ion-select-option value="order">325</ion-select-option>
                        <ion-select-option value="order">117</ion-select-option>
                        <ion-select-option value="order">198</ion-select-option>
                        <ion-select-option value="order">222</ion-select-option>
                        <ion-select-option value="order">109</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- <ion-item>
            <ion-label>Order</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>102</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>205 </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>333 </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>105</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>305</ion-label>
        </ion-item> -->
        <ion-item>
            <ion-label>amount</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>online</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>offline</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button class="btn-unique" fill="clear" expand="block" fill="outline" shape="round" type="submit" routerLink="/menu">Sumbit</ion-button>
    </ion-card>
</ion-content>