<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add Payment</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="logout()">
                <ion-icon name="log-out" fill="clear"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="center-card">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Order</ion-label>
                    <ion-select value="order" okText="Okay" cancelText="Cancle">
                        <ion-select-option value="order">102</ion-select-option>
                        <ion-select-option value="order">200</ion-select-option>
                        <ion-select-option value="order">325</ion-select-option>
                        <ion-select-option value="order">117</ion-select-option>
                        <ion-select-option value="order">198</ion-select-option>
                        <ion-select-option value="order">222</ion-select-option>
                        <ion-select-option value="order">109</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <form [formGroup]="addpayform" class="addpayForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label position="floating" >amount</ion-label>
            <ion-input formControlName="amount" type="amount"></ion-input>
        </ion-item>
        <div class="addpayform-errors">
            <ng-container *ngFor="let add of addpayform_messages.amount">
                <div class="error-message" *ngIf="addpayform.get('amount').hasError(add.type) && (addpayform.get('amount').dirty || addpayform.get('amount').touched)">
                    <ng-container name="information-circle-outline"></ng-container> {{ add.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label>Online</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Offline</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-button class="btn-unique" fill="clear" expand="block" fill="outline" shape="round" type="submit">Sumbit</ion-button>
        </form>
    </ion-card>
</ion-content>