// ion-toolbar {
//     --background: #002b6b;
// }
.center-card {
    border-radius: 20px 50px;
    // background: #002b6b;
    padding: 20px;
    width: 225px;
    height: 150px;
}

ion-item {
    --background: #002b6b;
    color: white;
}

.sumbit {
    width: 80%;
    margin: 0 auto;
    //  color: white;
    --background-color: #002b6b;
}
.main{
    text-align: center;
}