<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Order List</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="logout()">
                <ion-icon name="log-out" fill="clear"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="ion-text-center center-card" color="primary">
        <h1>Opening Stock</h1>
        <h2>50</h2>
    </ion-card>
    <ion-card color="primary" *ngFor="let order of orderlist">
        <!-- <ion-card-content> -->
        <ion-item>
            <ion-label>
                <ion-col>
                    <h5>filled</h5>
                    {{order.filled}}
                </ion-col>
            </ion-label>
            <ion-label>
                <ion-col>
                    <h5>Empty</h5>
                    {{order.empty}}
                </ion-col>
            </ion-label>
            <ion-label>
                <ion-col>
                    <h5>Defult</h5>
                    {{order.defult}}
                </ion-col>
            </ion-label>
            <ion-label>
                <ion-col>
                    <h5>Type</h5>
                    {{order.type}}
                </ion-col>
            </ion-label>
        </ion-item>
    </ion-card>
    <!-- <ion-row>
            <ion-col size="12"> -->
    <!-- </ion-col> -->
    <!-- </ion-card-content> -->
    <ion-button class="btn" color="light" fill="outline" shape="round" expand="block" type="submit" routerLink="/menu">Submit</ion-button>
</ion-content>