<ion-content>
    <div class="dashboard-header">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <h4>
                Dashboard
            </h4>
            <ion-buttons slot="end">
                <ion-button icon-only (click)="logout()">
                    <ion-icon name="log-out"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-row>
            <ion-col no-padding size="12">
                <h4 class="ion-text-center">Welcome, User</h4>
            </ion-col>
            <ion-col size="12">
                <ion-card no-margin class="ion-text-center" color="light">
                    <ion-card-header>
                        <h3>700 <br><small>All Time Deliveries</small></h3>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-card class="ion-text-center" color="light">
                    <ion-card-header>
                        <h3> <i class="fal fa-rupee-sign icon-2x"></i> 30K <br><small>Average Collection / Day</small></h3>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
    <ion-grid class="stat-area">
        <ion-row no-padding class="stats-card">
            <ion-col size="6">
                <ion-card no-margin class="ion-text-center center-card" routerLink="/todaysdelivery" color="primary">
                    <ion-card-content class="ion-text-center">
                        <h5>Today's Delivery</h5>
                        <h4>70</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card no-margin class="ion-text-center center-card" routerLink="/todayscollection" color="primary">
                    <ion-card-content class="ion-text-center">
                        <h5>Today's Collection</h5>
                        <h4>10000</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-card no-margin class="ion-text-center center-card" routerLink="/orderlist" color="primary">
                    <ion-card-content class="ion-text-center">
                        <h5>Today's Cylinder Count</h5>
                        <h4>500</h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button color="secondary" routerLink="/addopeningstock">
                <ion-icon name="person-add"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="secondary" routerLink="/addorder">
                <ion-icon name="cart"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="secondary" routerLink="/addpayment">
                <ion-icon name="cash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>