    // ion-content {
    //     --background: linear-gradient(210deg, rgba(0, 43, 107, 1) 0%, rgba(84, 0, 107, 1) 100%);
    // }
    ion-toolbar {
        --background: tranparent;
        --color: #fff;
    }
    
    .header-md:after {
        background: none;
    }
    .main{
        text-align: center;
        color: white;
    }
    
    .center-card {
        border-radius: 20px; // 50px 70px;
        background: #002b6b;
        width: auto;
        height: auto;
    }
    
    .pages {
        color: #002b6b;
    }
    
    .dashboard-header {
        background: rgb(0, 43, 107);
        background: -moz-linear-gradient(210deg, rgba(0, 43, 107, 1) 0%, rgba(84, 0, 107, 1) 100%);
        background: -webkit-linear-gradient(210deg, rgba(0, 43, 107, 1) 0%, rgba(84, 0, 107, 1) 100%);
        background: linear-gradient(210deg, rgba(0, 43, 107, 1) 0%, rgba(84, 0, 107, 1) 100%);
        padding-bottom: 20px;
        h4 {
            color: #fff;
        }
        ion-card {
            width: 80%;
            margin: 0 auto;
            h3 {
                small {
                    font-size: 14px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    
    .stat-area {
        margin-top: -20px;
        border-radius: 12px;
        background: #fff;
    }