<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="back">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="main">Edit Profile</ion-title>
        <ion-buttons slot="end" class="back">
            <ion-button icon-only (click)="logout()">
                <ion-icon name="log-out" class="log"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="center-card" *ngFor="let editprofile of editprofiles">
        <!-- <ion-list> -->
        <ion-item>
            {{editprofile.delivery_area}}
        </ion-item>
        <ion-item>
            {{editprofile.report_manager}}
        </ion-item>
        <form [formGroup]='editProfile' (ngSubmit)="Onsubmit(editProfile.value)">
        <!-- </ion-list> -->
        <ion-item>
            <ion-label position="floating"> Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="editProfile.get('name').hasError(validation.type) && (editProfile.get('name').dirty || editProfile.get('name').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        <ion-item>
            <ion-label position="floating">Phone No</ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
        </ion-item>
        <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                    <div class="error-message" *ngIf="editProfile.get('phone').hasError(validation.type) && (editProfile.get('phone').dirty || editProfile.get('phone').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>

        <ion-item>
            <ion-label position="floating">Address_1</ion-label>
            <ion-input type="text" formControlName="address_1"></ion-input>
        </ion-item> 
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.address_1">
                <div class="error-message" *ngIf="editProfile.get('address_1').hasError(validation.type) && (editProfile.get('address_1').dirty || editProfile.get('address_1').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label position="floating">Address_2</ion-label>
            <ion-input type="text" formControlName="address_2"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.address_1">
                <div class="error-message" *ngIf="editProfile.get('address_1').hasError(validation.type) && (editProfile.get('address_1').dirty || editProfile.get('address_1').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-row>
            <ion-col size="12">
                <ion-button fill="solid" expand="block" shape="round" color="primary" routerLink="/menu">Save</ion-button>
            </ion-col>
        </ion-row>
        </form>
    </ion-card>
    <!-- </ion-card-content> -->
</ion-content>