<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="back">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="title">profile</ion-title>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="logout()" fill="clear">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
            <!-- <ion-toggle class="statusToggle" checked="{{deliveryBoyStatus}}" (click)="updateStatus()"></ion-toggle> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="center-card" *ngFor="let profile of profiles">
        <!-- <ion-list> -->
        <ion-item class="text">
            <ion-toggle slot="end" class="statusToggle" checked="{{deliveryBoyStatus}}" (click)="updateStatus()"></ion-toggle>
        </ion-item>
        <ion-item class="text">
            <ion-icon  class="text" name="person" slot="start"></ion-icon>
            {{profile.delivery_boy_name}}
        </ion-item>
        <ion-item class="text">
            <ion-icon class="text" name="phone-portrait" slot="start"></ion-icon>
            {{profile.delivery_boy_phone}}
        </ion-item>
        <ion-row>
            <ion-col size="12">
                <ion-button fill="solid" expand="block" shape="round" fill="outline" color="light" routerLink="/editprofile">Edit Profile</ion-button>
            </ion-col>
        </ion-row>
        <!-- </ion-list> -->
    </ion-card>
</ion-content>