// ion-content {
//     --background: rgb(176, 232, 249);
// }
// ion-toolbar {
//     --background: #002b6b;
// }
.center-card {
    margin: 10px auto;
    width: 80%;
    border-radius: 12px;
    --background: #002b6b;
    ion-card-title,
    ion-item {
        --background: #002b6b;
        --color: white;
    }
}

.btn {
    width: 80%;
    margin: 0 auto;
    --background: #002b6b;
}